<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %> 
</head>
<body>
    <div class="m-5 pb-3">
        <h1>Edit Course</h1><br>
        <form action="/course/<%= course.id %>/edit" method="post">
            <div>
                <label>Courses name: </label>
                <input type="text" name="name" value="<%= course.name %>">
            </div><br>
            <div>
                <label>Description: </label> <br>
                <textarea name="description" id="" cols="50" rows="10"><%= course.description %></textarea>
            </div><br>
            <div>
                <label>Duration (in hour):</label>
                <input type="number" name="duration" value="<%= course.duration %>">
            </div><br>
            <div>
                <label>Category:</label>
                <select name="CategoryId">
                    <option disabled>--select category--</option>
                    <% categoryList.forEach(el => { %>
                        <% if (el.id === course.CategoryId) { %>
                            <option selected value="<%= el.id %>"><%= el.name %></option>
                        <% } else { %>
                            <option value="<%= el.id %>"><%= el.name %></option>
                        <% } %>
                    <% }) %>
                </select>
            </div><br>
            <a href=""><button type="submit">SUBMIT</button></a>
        </form>
    </div>
</body>
</html>