<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/head') %> 
</head>
<body>
  <div class="m-5 pb-3">
    <h1>Course List</h1><br>
    <form action="/course" method="get">
      <input type="text" name="search">
      <button type="submit">Search</button>
    </form>
    <form action="/course" method="get"><br>
      <select name="filter">
        <option disabled selected>Category</option>
        <% categoryList.forEach(el => { %>
         <option value="<%= el.id %>"><%= el.name %></option>
        <% }) %>
      </select>
      <button type="submit">filter</button>
    </form>
    <br>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Duration</th>
          <th>Category</th>
        </tr>
      </thead>
      <tbody>
        <% courses.forEach(el => { %>
         <tr>
          <td><a href="/course/<%= el.id %>" style="text-decoration: none;"><%= el.name %></a></td>
          <td><%= el.durationHour %></td>
          <td><%= el.Category.name %></td>
         </tr>
        <% }) %>
      </tbody>
    </table>
  </div>
</body>
</html>